//Colors
$color-primary: #278c38;
$color-primary-light: #28a654;
$color-primary-dark: #23752d; 

$color-secondary:#0d5d56;
$color-secondary-2: #ff7730;

$color-secondary-light: #ffb900;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-white: #fff;
$color-black: #333;

$color-grey: #9D9C9C;
$color-grey-light-1: #f7f7f7;

$color-grey-dark: #696868;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;


//FONTS
$default-font-size: 1.6rem;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
